@charset "UTF-8";
/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block`), we suggest using a common CSS class: */
/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
i.icon-arrow-down {
  background-image: url(../img/sprite.png);
  background-position: 0px -110px;
  width: 13px;
  height: 8px; }

i.icon-arrow-next-v2 {
  background-image: url(../img/sprite.png);
  background-position: -76px 0px;
  width: 76px;
  height: 76px; }

i.icon-arrow-next {
  background-image: url(../img/sprite.png);
  background-position: -120px -76px;
  width: 14px;
  height: 24px; }

i.icon-arrow-prev-v2 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 76px;
  height: 76px; }

i.icon-arrow-prev {
  background-image: url(../img/sprite.png);
  background-position: -134px -76px;
  width: 14px;
  height: 24px; }

i.icon-checkbox-checked {
  background-image: url(../img/sprite.png);
  background-position: -64px -76px;
  width: 30px;
  height: 30px; }

i.icon-checkbox-default {
  background-image: url(../img/sprite.png);
  background-position: -34px -76px;
  width: 30px;
  height: 30px; }

i.icon-face {
  background-image: url(../img/sprite.png);
  background-position: 0px -128px;
  width: 9px;
  height: 10px; }

i.icon-lupa {
  background-image: url(../img/sprite.png);
  background-position: 0px -76px;
  width: 34px;
  height: 34px; }

i.icon-mail {
  background-image: url(../img/sprite.png);
  background-position: -10px -118px;
  width: 11px;
  height: 9px; }

i.icon-tel-black {
  background-image: url(../img/sprite.png);
  background-position: 0px -118px;
  width: 10px;
  height: 10px; }

i.icon-tel-round {
  background-image: url(../img/sprite.png);
  background-position: -94px -76px;
  width: 26px;
  height: 26px; }

i.icon-tel {
  background-image: url(../img/sprite.png);
  background-position: -21px -118px;
  width: 8px;
  height: 9px; }

@font-face {
  src: url("../fonts/roboto/light.ttf");
  font-family: "Roboto", sans-serif;
  font-weight: 100; }

@font-face {
  src: url("../fonts/roboto/medium.ttf");
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

@font-face {
  src: url("../fonts/harmonia/light.otf");
  font-family: "Harmonia";
  font-weight: 100; }

@font-face {
  src: url("../fonts/harmonia/regular.otf");
  font-family: "Harmonia";
  font-weight: 400; }

@font-face {
  src: url("../fonts/harmonia/semibd.otf");
  font-family: "Harmonia";
  font-weight: 500; }

@font-face {
  src: url("../fonts/harmonia/bold.otf");
  font-family: "Harmonia";
  font-weight: 600; }

@font-face {
  src: url("../fonts/bebas/regular.ttf");
  font-family: "Bebas";
  font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  outline: none !important; }

body {
  font: 16px "Roboto", sans-serif;
  color: #333333;
  font-weight: 100;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, header, article, aside, main, footer, div, h1, h2, h3, h4, h5, h6, button, .show {
  display: block; }

meta, script, style, .hidden {
  display: none; }

h6 {
  font-weight: normal; }

h1, h2, h3, h5 {
  text-transform: uppercase; }

h1 {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto; }

h2 {
  font-size: 30px;
  text-align: center; }

h3 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1.5px; }

h4 {
  font-size: 18px;
  font-weight: bold; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10px; }

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s; }

button, input[type="submit"] {
  cursor: pointer; }

button, input, textarea, select {
  display: block;
  outline: none;
  border: none;
  background: none;
  font-family: "Roboto", sans-serif; }

input, select {
  border: 1px solid #D7D7D7;
  background: #EEEEEE;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 41px;
  padding: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  font-size: 20px;
  width: 100%; }

select {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0; }

input.num {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 123px;
  height: 46px;
  text-align: center; }

input[name="name"] {
  text-transform: capitalize; }

textarea {
  resize: none; }

ul, ol {
  margin: 5px 0 5px 20px;
  list-style: none; }

.fll {
  float: left; }

.flr {
  float: right; }

.form-text .text {
  float: left; }

.form-text .checkbox {
  float: right; }

.checkbox input {
  display: none; }

.checkbox input:checked + label {
  background-image: url(../img/sprite.png);
  background-position: -64px -76px;
  width: 30px;
  height: 30px; }

.checkbox label {
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: -34px -76px;
  width: 30px;
  height: 30px;
  cursor: pointer; }

.dd-list {
  position: relative; }
  .dd-list input {
    display: none; }
  .dd-list .here {
    position: relative;
    border: 1px solid #D7D7D7;
    background: #EEEEEE;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    height: 41px;
    padding: 9px 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: normal;
    font-size: 16px; }
    .dd-list .here .dd {
      position: absolute;
      top: -1px;
      right: -1px;
      background: url("../img/bg/button/v5.jpg");
      -webkit-border-radius: 5px;
              border-radius: 5px;
      height: 41px;
      width: 58px;
      text-align: center;
      cursor: pointer; }
      .dd-list .here .dd:hover {
        opacity: .8; }
      .dd-list .here .dd i {
        position: relative;
        top: 11px;
        -webkit-transition: .3s;
        transition: .3s; }
      .dd-list .here .dd i.rotate {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
  .dd-list .list {
    z-index: 10;
    position: absolute;
    display: none;
    border: 1px solid #D7D7D7;
    background: #EEEEEE;
    font-size: 20px;
    font-size: 20px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 14px 25px;
    margin-top: 3px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .dd-list .list .item {
      font-size: 16px;
      border-bottom: 1px solid #D7D7D7; }
      .dd-list .list .item:last-of-type {
        border-bottom: 0; }
      .dd-list .list .item label {
        cursor: pointer;
        display: block;
        padding: 5px 0; }

ul.checked li {
  position: relative;
  margin-left: 25px;
  margin-bottom: 27px; }
  ul.checked li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 31px;
    height: 31px;
    background-image: url("../img/ul/checked.png");
    top: -5px;
    left: -46px; }

ul.circle li {
  position: relative;
  margin-left: 30px;
  margin-bottom: 0px; }
  ul.circle li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 31px;
    height: 31px;
    background-image: url("../img/ul/circle.png");
    background-repeat: no-repeat;
    background-position: center;
    top: -6px;
    left: -30px; }
  ul.circle li:last-of-type {
    margin-right: 50px; }

ul.circle-green li {
  position: relative;
  margin-left: 10px;
  margin-bottom: 12px;
  line-height: 22px; }
  ul.circle-green li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 31px;
    height: 31px;
    background-image: url("../img/ul/circle-green.png");
    background-repeat: no-repeat;
    background-position: center;
    top: -6px;
    left: -40px; }

ul.enclosed li {
  position: relative;
  margin-left: 0;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold; }
  ul.enclosed li:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 31px;
    height: 31px;
    background-image: url("../img/ul/enclosed.png");
    background-repeat: no-repeat;
    background-position: center;
    top: -5px;
    left: -32px; }
  ul.enclosed li a:hover {
    text-decoration: underline; }

::-webkit-input-placeholder {
  color: gray; }

::-moz-placeholder {
  color: gray; }

:-ms-input-placeholder {
  color: gray; }

::placeholder {
  color: gray; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

span.desc {
  display: block; }

i.icon {
  display: inline-block; }

.i, i {
  font-style: italic; }

.b, b, strong {
  font-weight: bold; }

.btn, button {
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.btn.v1 {
  width: 100%;
  height: 61px;
  background: url("../img/bg/button/v1.jpg");
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-family: "Harmonia", sans-serif;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1.2px;
  -webkit-transition: .2s;
  transition: .2s;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.31); }
  .btn.v1:hover {
    opacity: 0.8; }

.btn.v2 {
  width: 285px;
  line-height: 47px;
  height: 50px;
  background: #9AD64A;
  border-bottom: 4px solid #87BB40;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  text-transform: none; }
  .btn.v2:hover {
    position: relative;
    top: 4px;
    border-bottom: 4px solid transparent; }

.btn.v3 {
  width: 180px;
  background: #fff;
  font-size: 16px;
  height: 36px;
  border-bottom: 3px solid #E9E9E9;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 8px 10px;
  -webkit-transition: .2s;
  transition: .2s; }
  .btn.v3:hover {
    position: relative;
    top: 3px;
    border-bottom: 3px solid transparent; }

.btn.v4 {
  display: inline-block;
  width: 59px;
  height: 41px;
  background: url("../img/bg/button/v4.jpg");
  font-size: 13px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 13px;
  -webkit-transition: .2s;
  transition: .2s; }
  .btn.v4:hover {
    opacity: 0.8; }

.container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after, .reviews:before, .reviews:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after, .reviews:after {
  clear: both; }

.w0 .a1 {
  width: 8.33333333%; }

.w0 .a2 {
  width: 16.66666667%; }

.w0 .a3 {
  width: 25%; }

.w0 .a4 {
  width: 33.33333333%; }

.w0 .a5 {
  width: 41.66666667%; }

.w0 .a6 {
  width: 50%; }

.w0 .a7 {
  width: 58.33333333%; }

.w0 .a8 {
  width: 66.66666667%; }

.w0 .a9 {
  width: 75%; }

.w0 .a10 {
  width: 83.33333333%; }

.w0 .a11 {
  width: 91.66666667%; }

.w0 .a12 {
  width: 100%; }

.w2 > .col {
  width: 50%; }

.w3 > .col {
  width: 33.333333333%; }

.w4 > .col {
  width: 25%; }

.w5 > .col {
  width: 20%; }

.w6 > .col {
  width: 16.666666667%; }

.col {
  display: block;
  float: left;
  min-height: 1px; }

.breadcrumbs {
  list-style: none; }
  .breadcrumbs li {
    display: inline; }
    .breadcrumbs li:after {
      position: relative;
      display: inline-block;
      content: '/';
      margin-right: 0;
      margin-left: 3px; }
    .breadcrumbs li:last-of-type:after {
      display: none; }

.caret li {
  list-style: none; }

.caret a {
  cursor: pointer; }

.caret ul {
  display: none; }

.breadcrumbs, .caret {
  margin-left: 0; }

.nav {
  margin: 32px 0 36px;
  text-align: center;
  font-size: 17px;
  color: #c6c6c6;
  font-weight: bold; }
  .nav li {
    display: inline-block;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s; }
    .nav li.select, .nav li:hover {
      color: #333333; }

button#sticks {
  display: none;
  float: right;
  width: 40px;
  height: 40px; }
  button#sticks span {
    display: block;
    position: relative;
    width: 35px;
    height: 4px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: .5s;
    transition: .5s; }
    button#sticks span:nth-of-type(2) {
      margin: 6px auto; }

button#sticks.close span:nth-of-type(1) {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

button#sticks.close span:nth-of-type(2) {
  display: none; }

button#sticks.close span:nth-of-type(3) {
  margin-top: -4px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.input-icon {
  position: relative; }
  .input-icon i {
    position: absolute;
    top: 17px;
    left: 15px; }
    .input-icon i:after {
      content: '';
      position: relative;
      display: inline-block;
      width: 1px;
      height: 18px;
      background: #C0C0C0;
      top: -5px;
      right: -25px; }
  .input-icon input {
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    background: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 15px 15px 15px 60px; }

.calc {
  float: right;
  background: #fff;
  padding: 23px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 36px 32px 0px rgba(2, 80, 44, 0.18);
          box-shadow: 0px 36px 32px 0px rgba(2, 80, 44, 0.18);
  margin-top: 20px; }
  .calc .row {
    margin-bottom: 22px; }
  .calc .desc {
    display: block;
    color: #b1aeac;
    font-family: "Harmonia", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 12px; }
  .calc .text {
    font-size: 12px;
    font-family: "Harmonia", sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 32px; }
  .calc .num {
    margin-left: 28px;
    margin-right: 28px; }
  .calc .answer {
    float: right;
    display: inline-block;
    width: 22px;
    height: 30px;
    margin-left: 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    text-align: right; }

.global-nav {
  background: #117FBF;
  font-size: 17px;
  padding-left: 80px; }
  .global-nav ul {
    margin: 0; }
    .global-nav ul li {
      display: inline-block;
      list-style: none; }
      .global-nav ul li:hover a, .global-nav ul li.select a {
        background: #3394CB;
        position: relative; }
        .global-nav ul li:hover a:before, .global-nav ul li.select a:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: -1px;
          width: 1px;
          height: 64px;
          background: #3394CB; }
      .global-nav ul li:last-of-type span {
        border-right: 0; }
    .global-nav ul a {
      display: inline-block;
      color: #fff;
      padding: 22px 0;
      -webkit-transition: .3s;
      transition: .3s; }
    .global-nav ul span {
      padding: 5px 27px;
      border-right: 1px solid #3394CB; }

#popup {
  display: none;
  z-index: 100000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }
  #popup .container {
    max-width: 400px;
    padding: 50px 35px;
    background: #028bca;
    -webkit-box-shadow: 3.4px 12.6px 34px 6px rgba(0, 0, 0, 0.17);
            box-shadow: 3.4px 12.6px 34px 6px rgba(0, 0, 0, 0.17);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 150px; }
    #popup .container .title {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      color: #fff;
      font-family: "Harmonia", sans-serif;
      font-weight: bold;
      font-size: 33px;
      text-transform: uppercase; }
    #popup .container .desc {
      margin-bottom: 30px;
      text-align: center;
      color: #FFF;
      text-shadow: 0.3px 1px 0 rgba(0, 0, 0, 0.17);
      font-size: 19px; }
    #popup .container .btn {
      width: 100%;
      color: #fff;
      font-weight: 300;
      margin-top: 30px; }
    #popup .container .message {
      display: none; }
    #popup .container .error-tel {
      display: none;
      margin-top: 25px;
      color: #f00;
      font-weight: normal; }
    #popup .container .close {
      position: absolute;
      top: -25px;
      right: -25px;
      color: #fff;
      font-size: 30px;
      font-family: "Tahoma";
      background-image: url("../img/icon-modal-close.png");
      width: 18px;
      height: 19px; }

#popup-text {
  display: none;
  z-index: 100000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }
  #popup-text .container {
    position: relative;
    background: #fff;
    max-width: 700px;
    padding: 25px 30px 20px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  #popup-text .title {
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
    font-weight: normal;
    text-transform: none; }
  #popup-text .desc {
    color: #939393;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffeded; }
  #popup-text .text {
    padding-top: 20px; }
  #popup-text .close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #fff;
    font-size: 30px;
    font-family: "Tahoma";
    background-image: url("../img/icon-modal-close-black.png");
    width: 18px;
    height: 19px; }
  #popup-text ul li {
    position: relative;
    margin-bottom: 13px;
    padding-left: 34px;
    font-size: 16px; }
    #popup-text ul li:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background-image: url("../img/ul/circle-green-2.png");
      top: 5px;
      left: 0px; }

#header #panel {
  background: url("../img/bg/top-panel.jpg") top center;
  font-family: "Harmonia", sans-serif;
  color: #fff;
  height: 98px; }
  #header #panel a, #header #panel span {
    color: #fff; }
  #header #panel * {
    font-weight: normal; }
  #header #panel .logo {
    width: 298px; }
    #header #panel .logo img {
      position: absolute;
      left: -22px; }
  #header #panel .desc {
    padding-top: 37px;
    font-size: 18px;
    font-weight: 500;
    margin-left: -22px;
    margin-right: 50px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.21); }
  #header #panel .contacts {
    padding-top: 25px;
    color: #b0dff8;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.21); }
    #header #panel .contacts p * {
      font-size: 20px;
      font-weight: 100; }
  #header #panel .phone {
    float: right;
    padding-top: 11px; }
    #header #panel .phone a {
      display: block;
      font-size: 18px;
      margin-bottom: 8px;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.21); }
    #header #panel .phone i {
      position: relative;
      top: 7px; }

#header #banner {
  margin-top: -98px; }
  #header #banner img {
    display: block;
    z-index: -1;
    position: relative;
    width: 100%;
    margin: 0 auto; }

#main {
  padding-top: 50px;
  background: url("../img/bg/main.jpg") repeat-y top center; }
  #main #content {
    float: right;
    max-width: 825px; }
    #main #content h1:after, #main #content h2:after {
      content: '';
      display: block;
      position: relative;
      width: 65px;
      height: 5px;
      margin: 23px auto;
      background: #117FBF; }
    #main #content h4 {
      margin-top: 60px;
      margin-bottom: 28px; }
      #main #content h4:after {
        content: '';
        display: block;
        position: relative;
        width: 65px;
        height: 5px;
        margin: 4px auto;
        background: #117FBF;
        display: inline-block;
        margin-left: 15px; }
    #main #content #why-we .desc {
      text-align: center;
      color: #898989;
      font-size: 20px;
      font-weight: 100; }
    #main #content #why-we .facts {
      margin-top: 27px;
      margin-bottom: 65px; }
      #main #content #why-we .facts img {
        float: left;
        margin-right: 8px; }
      #main #content #why-we .facts p {
        padding-top: 30px;
        float: left;
        font-weight: normal; }
      #main #content #why-we .facts .col:nth-of-type(3) p {
        margin-right: -30px; }
    #main #content #why-we .tack-zhe {
      background: url("../upload/why-we/bg.png") no-repeat top right;
      margin-right: -100px;
      margin-top: -63px;
      padding-bottom: 140px; }
    #main #content #price-repair .nav {
      position: relative; }
      #main #content #price-repair .nav .slick-dots li {
        width: auto; }
        #main #content #price-repair .nav .slick-dots li button {
          display: none; }
        #main #content #price-repair .nav .slick-dots li:after {
          display: inline-block; }
        #main #content #price-repair .nav .slick-dots li:nth-of-type(1):after {
          content: 'Косметический'; }
        #main #content #price-repair .nav .slick-dots li:nth-of-type(2):after {
          content: 'Стандартный'; }
        #main #content #price-repair .nav .slick-dots li:nth-of-type(3):after {
          content: 'Класса люкс'; }
        #main #content #price-repair .nav .slick-dots li.slick-active:after, #main #content #price-repair .nav .slick-dots li:hover:after, #main #content #price-repair .nav .slick-dots li:active:after {
          color: #333333; }
    #main #content #price-repair .slider {
      margin-right: -60px; }
      #main #content #price-repair .slider .col {
        position: relative; }
        #main #content #price-repair .slider .col.left {
          width: 485px;
          height: 646px; }
        #main #content #price-repair .slider .col.right {
          width: 350px; }
      #main #content #price-repair .slider img {
        position: absolute; }
      #main #content #price-repair .slider .group {
        position: relative;
        margin-top: 20px;
        margin-bottom: 42px; }
        #main #content #price-repair .slider .group h3 {
          z-index: 2;
          position: relative;
          padding-top: 20px;
          padding-left: 50px;
          text-shadow: white 0px -3px 0px, white 0px -3px 0px, white 0px 3px 0px, white 0px 3px 0px, white -3px 0px 0px, white 3px 0px 0px, white -3px 0px 0px, white 3px 0px 0px, white -1px -3px 0px, white 1px -3px 0px, white -1px 3px 0px, white 1px 3px 0px, white -3px -1px 0px, white 3px -1px 0px, white -3px 1px 0px, white 3px 1px 0px, white -2px -3px 0px, white 2px -3px 0px, white -2px 3px 0px, white 2px 3px 0px, white -3px -2px 0px, white 3px -2px 0px, white -3px 2px 0px, white 3px 2px 0px, white -3px -3px 0px, white 3px -3px 0px, white -3px 3px 0px, white 3px 3px 0px, white -3px -3px 0px, white 3px -3px 0px, white -3px 3px 0px, white 3px 3px 0px; }
        #main #content #price-repair .slider .group h5 {
          z-index: 1;
          position: relative;
          top: 0;
          opacity: 0.07;
          position: absolute;
          font-size: 47.3px;
          margin-right: -285px;
          font-weight: 900; }
      #main #content #price-repair .slider .list {
        margin-left: 40px;
        margin-right: -30px; }
        #main #content #price-repair .slider .list li {
          line-height: 24px;
          margin-bottom: 1px; }
      #main #content #price-repair .slider .price {
        margin-left: 50px;
        font-size: 18px;
        margin-right: -30px; }
        #main #content #price-repair .slider .price * {
          line-height: 30px; }
        #main #content #price-repair .slider .price strong {
          text-transform: uppercase;
          letter-spacing: 1.5px;
          margin-right: 8px; }
        #main #content #price-repair .slider .price var, #main #content #price-repair .slider .price i {
          font-style: normal; }
        #main #content #price-repair .slider .price span {
          font-size: 22.18px;
          font-weight: 500;
          color: #dadada;
          text-decoration: line-through;
          margin-right: 4px; }
        #main #content #price-repair .slider .price b {
          color: #9dd837;
          font-size: 25.88px; }
        #main #content #price-repair .slider .price i {
          font-size: 22.18px; }
        #main #content #price-repair .slider .price sup {
          font-size: 14px; }
    #main #content #calc-repair {
      margin-bottom: 55px; }
      #main #content #calc-repair .left h2:after {
        margin-left: 0; }
      #main #content #calc-repair .left .desc {
        margin-bottom: 60px; }
      #main #content #calc-repair .left img {
        margin-left: -38px; }
      #main #content #calc-repair .right {
        float: right;
        margin-left: 0; }
    #main #content #price-design .nav {
      position: relative;
      margin-bottom: 60px; }
      #main #content #price-design .nav li:nth-of-type(1) {
        margin-left: 80px; }
      #main #content #price-design .nav li:nth-of-type(3) {
        margin-right: 0; }
    #main #content #price-design .slick-dots li {
      width: auto; }
      #main #content #price-design .slick-dots li button {
        display: none; }
      #main #content #price-design .slick-dots li:after {
        display: inline-block; }
      #main #content #price-design .slick-dots li:nth-of-type(1):after {
        content: 'Максимальный'; }
      #main #content #price-design .slick-dots li:nth-of-type(2):after {
        content: 'Рабочий'; }
      #main #content #price-design .slick-dots li:nth-of-type(3):after {
        content: 'Планировочные решения'; }
      #main #content #price-design .slick-dots li.slick-active:after, #main #content #price-design .slick-dots li:hover:after, #main #content #price-design .slick-dots li:active:after {
        color: #333333; }
    #main #content #price-design .slider {
      margin-left: -32px;
      margin-top: -20px;
      margin-right: -45px; }
      #main #content #price-design .slider .item {
        position: relative; }
      #main #content #price-design .slider .col {
        position: absolute;
        top: 19px;
        right: 35px;
        background: rgba(0, 128, 196, 0.7);
        width: 350px;
        height: 537px;
        padding-top: 75px;
        padding-left: 33px;
        padding-right: 33px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color: #fff; }
      #main #content #price-design .slider h6 {
        font-size: 16px; }
      #main #content #price-design .slider .group {
        position: relative;
        font-size: 47.3px;
        margin-top: 12px;
        border-bottom: 1px solid #80B3CB;
        margin-bottom: 30px;
        margin-right: -33px; }
        #main #content #price-design .slider .group h3 {
          position: relative;
          z-index: 2;
          font-size: 20px;
          font-weight: 900;
          padding-bottom: 8px; }
        #main #content #price-design .slider .group h6 {
          z-index: 1;
          opacity: .1;
          position: absolute;
          font-size: 47.3px;
          font-weight: 900;
          top: -32px;
          left: -20px;
          margin-right: -250px; }
      #main #content #price-design .slider a {
        color: #fff;
        border-bottom: 1px solid #fff;
        font-weight: 500;
        line-height: 22px; }
      #main #content #price-design .slider .btn {
        margin-top: 125px; }
    #main #content #projects {
      margin-top: -30px; }
      #main #content #projects .item {
        position: relative;
        width: 255px;
        height: 219px;
        padding-top: 20px;
        padding-bottom: 20px; }
        #main #content #projects .item img {
          z-index: 1;
          position: absolute;
          -webkit-transition: .5s;
          transition: .5s;
          left: 12.5px; }
        #main #content #projects .item .wrapper {
          opacity: 0;
          position: relative;
          z-index: 2;
          display: block;
          background: rgba(55, 188, 238, 0.7);
          width: 255px;
          height: 219px;
          color: #fff;
          padding: 11px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-transition: .5s;
          transition: .5s;
          margin-left: 12.5px; }
        #main #content #projects .item .border {
          border: 1px solid #AEDDEF;
          height: 100%;
          padding: 10px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
        #main #content #projects .item h6 {
          text-align: center;
          font-size: 18px;
          font-weight: bold; }
          #main #content #projects .item h6:before {
            content: '';
            display: block;
            background-image: url(../img/sprite.png);
            background-position: 0px -76px;
            width: 34px;
            height: 34px;
            margin: 30px auto 15px; }
        #main #content #projects .item p {
          margin-top: 5px;
          text-align: center;
          line-height: 24px; }
        #main #content #projects .item:hover img {
          -webkit-filter: blur(2px);
                  filter: blur(2px); }
        #main #content #projects .item:hover .wrapper {
          opacity: 1; }
        #main #content #projects .item.slick-active img {
          -webkit-box-shadow: 0px 4px 24px 0px rgba(2, 80, 112, 0.23);
                  box-shadow: 0px 4px 24px 0px rgba(2, 80, 112, 0.23); }
      #main #content #projects .slick-prev, #main #content #projects .slick-next {
        z-index: 1000;
        width: 60px;
        height: 60px;
        background: #3DBAEA;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 38%;
        -webkit-transition: .3s;
        transition: .3s; }
        #main #content #projects .slick-prev:before, #main #content #projects .slick-next:before {
          display: none; }
        #main #content #projects .slick-prev i, #main #content #projects .slick-next i {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
        #main #content #projects .slick-prev:hover, #main #content #projects .slick-next:hover {
          background: #9DD74D; }
      #main #content #projects .slick-prev {
        left: -17px; }
      #main #content #projects .slick-next {
        right: -17px; }
      #main #content #projects .btn {
        margin-top: 30px;
        color: #fff;
        margin-left: auto;
        margin-right: auto; }
    #main #content #calc-design {
      margin-top: 65px; }
      #main #content #calc-design .group {
        margin-bottom: 40px; }
        #main #content #calc-design .group h2:after {
          margin-left: 0; }
      #main #content #calc-design img {
        margin-left: -30px; }
      #main #content #calc-design .right {
        float: right; }
    #main #content #about-num .this {
      background: url("../upload/about-num/bg.png") no-repeat top center;
      min-height: 561px;
      text-align: center; }
    #main #content #about-num span {
      display: block;
      font-size: 60px;
      font-family: "Harmonia", sans-serif;
      color: #9bd732;
      font-weight: 300;
      text-shadow: white 0px -2px 0px, white 0px -2px 0px, white 0px 2px 0px, white 0px 2px 0px, white -2px 0px 0px, white 2px 0px 0px, white -2px 0px 0px, white 2px 0px 0px, white -1px -2px 0px, white 1px -2px 0px, white -1px 2px 0px, white 1px 2px 0px, white -2px -1px 0px, white 2px -1px 0px, white -2px 1px 0px, white 2px 1px 0px, white -2px -2px 0px, white 2px -2px 0px, white -2px 2px 0px, white 2px 2px 0px, white -2px -2px 0px, white 2px -2px 0px, white -2px 2px 0px, white 2px 2px 0px;
      padding-top: 30px; }
    #main #content #about-num p {
      font-weight: bold;
      margin-top: 35px; }
    #main #content #about-num .col {
      background-position: top center;
      background-repeat: no-repeat;
      width: 180px; }
    #main #content #about-num .right {
      float: right; }
    #main #content #about-num .top .left {
      background-image: url("../upload/about-num/top-left.png");
      margin-top: 73px; }
      #main #content #about-num .top .left p {
        margin-top: 45px; }
    #main #content #about-num .top .right {
      background-image: url("../upload/about-num/top-right.png");
      margin-top: 35px; }
    #main #content #about-num .bottom .left {
      background-image: url("../upload/about-num/bottom-left.png");
      padding-top: 20px;
      margin-top: 40px;
      margin-left: 25px; }
      #main #content #about-num .bottom .left p {
        margin-top: 45px; }
    #main #content #about-num .bottom .right {
      background-image: url("../upload/about-num/bottom-right.png");
      margin-top: 50px;
      margin-left: -10px; }
    #main #content #consultation {
      background: url("../upload/consultation/bg.png");
      min-height: 437px;
      margin-right: -30px; }
      #main #content #consultation .col {
        float: right;
        width: 255px;
        margin-right: 30px;
        margin-top: 80px;
        color: #fff; }
      #main #content #consultation span {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400; }
        #main #content #consultation span.h2 {
          font-size: 23px; }
        #main #content #consultation span.h1 {
          font-size: 32px;
          margin-top: 3px; }
        #main #content #consultation span.h3 {
          font-size: 11px;
          margin-right: -5px;
          margin-top: 5px;
          margin-bottom: 17px; }
      #main #content #consultation .btn {
        width: 100%; }
    #main #content #text {
      margin-top: -30px; }
      #main #content #text h2:nth-of-type(1) {
        text-align: left; }
        #main #content #text h2:nth-of-type(1):after {
          margin-left: 0; }
      #main #content #text p {
        margin-bottom: 20px;
        line-height: 20px; }
      #main #content #text img.fll {
        margin-right: 30px; }
      #main #content #text img.flr {
        margin-left: 30px; }
  #main #aside {
    position: relative;
    float: left;
    max-width: 255px;
    z-index: 1001; }
    #main #aside h2 {
      color: #117FBF;
      text-transform: none;
      text-align: left;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 25px; }
    #main #aside #services {
      margin-bottom: 24px; }
    #main #aside #chore {
      text-align: center;
      margin-bottom: 55px; }
      #main #aside #chore .slider {
        position: relative;
        max-width: 255px; }
      #main #aside #chore a {
        display: block;
        margin-top: 15px;
        color: #0080c4;
        font-weight: normal; }
      #main #aside #chore .slick-arrow {
        z-index: 1000;
        top: 42%;
        width: 76px;
        height: 76px; }
        #main #aside #chore .slick-arrow:before {
          display: none; }
      #main #aside #chore .slick-prev {
        left: -5px; }
      #main #aside #chore .slick-next {
        right: -5px; }
    #main #aside #stock {
      margin-bottom: 80px; }
    #main #aside .reviews .item {
      margin-bottom: 29px; }
    #main #aside .reviews .group {
      position: relative; }
      #main #aside .reviews .group img {
        position: relative;
        z-index: 1; }
      #main #aside .reviews .group span {
        z-index: 2;
        display: block;
        position: absolute;
        bottom: 22px;
        font-size: 16px;
        text-align: center;
        color: #fff;
        width: 255px;
        font-weight: 500; }
    #main #aside .reviews h3 {
      font-size: 16px;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 14px; }
    #main #aside #advantages {
      text-align: center;
      margin-top: 27px;
      margin-bottom: 36px; }
      #main #aside #advantages h2 {
        text-align: center; }
      #main #aside #advantages img {
        margin-bottom: 20px; }
      #main #aside #advantages p {
        line-height: 22px; }
      #main #aside #advantages .item {
        margin-bottom: 26px; }
    #main #aside #works {
      margin-bottom: 70px; }
      #main #aside #works a {
        display: block;
        font-weight: bold;
        font-size: 18px;
        color: #117FBF;
        margin-bottom: 7px; }
      #main #aside #works img {
        margin-bottom: 7px; }
      #main #aside #works .item {
        margin-bottom: 30px; }
    #main #aside #all-links {
      margin-bottom: 58px; }
    #main #aside #visit {
      margin-bottom: 40px; }
      #main #aside #visit img {
        display: block; }
      #main #aside #visit p {
        margin-top: -15px;
        line-height: 18px; }

#footer {
  background: url("../img/bg/top-panel.jpg") top center;
  color: #fff; }
  #footer a {
    color: #fff; }
  #footer .bottom .logo img {
    margin-top: -1px;
    margin-bottom: -3px;
    margin-left: -21px; }
  #footer .bottom .contacts {
    text-align: center;
    padding-top: 12px;
    line-height: 22px;
    padding-left: 25px; }
    #footer .bottom .contacts .tel {
      font-size: 18px;
      font-weight: 500; }
    #footer .bottom .contacts .icon {
      margin-right: 5px; }
    #footer .bottom .contacts .margin-bottom {
      margin-bottom: 5px; }
  #footer .bottom .dev {
    margin-top: 35px;
    float: right;
    line-height: 21px; }
    #footer .bottom .dev strong {
      display: block;
      font-weight: 500;
      font-size: 18px; }
